/* src/App.module.css */
.container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #7F7FFF;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(255, 254, 254, 0.1);
  margin: 5px 0;
  
}

.taskText {
  flex-grow: 1;
  margin-right: 10px;
}


.nav-link {

  font-size: 18px;
  text-decoration: none;
  margin-right: 10px;
}

.nav-link:hover {
  text-decoration: underline;

}

